@model АПТ.Models.Table

@{
    ViewBag.Title = "Детали";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детали</h2>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Группа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Группа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рост)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рост)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.День_рождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.День_рождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Средний_бал)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Средний_бал)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.StudId }) |
    @Html.ActionLink("Студенты", "Index")
</p>
